@charset "UTF-8";

/* ****************** 공통 컨텐츠 클래스 ********************** */
#content-wrapper{padding:100px 0; background-color:#fff;}
.comm-content-tit{position:relative; font-size:26px; color:#2b2b2b; text-align:center; font-weight:500; padding:20px 0; margin-bottom:50px;}
.comm-content-tit:after{display:block; content:""; width:50px; height:4px; background-color:#009223; position:absolute; bottom:0; left:50%; margin-left:-30px;}
.comm-content-tit-small{position:relative; font-size:26px; color:#2b2b2b; text-align:center; font-weight:500; padding:20px 0; margin-bottom:50px;}
.comm-content-tit-small:after{display:block; content:""; width:50px; height:4px; background-color:#009223; position:absolute; bottom:0; left:50%; margin-left:-30px;}


/* 게시판용  :: 지영*/
.board-tit{text-align: center;font-size: 40px;color: #292929;font-weight: bold;letter-spacing: -0.07em;padding: 30px 0 90px;}

/* 공통 :: PAGING */
/* .paging{width:100%; text-align:center; margin:30px 0;}
.paging a{display:inline-block; vertical-align:middle; width:30px; height:30px; border:1px solid #ddd; text-align:center; font-size:12px; line-height:30px; color:#868686; letter-spacing:-0.25px; margin: 2px 0; background:#fff;}
.paging span{display:inline-block; vertical-align:middle; width:30px; height:30px; border:1px solid #ddd; text-align:center; font-size:12px; line-height:30px; color:black; letter-spacing:-0.25px; margin: 2px 0; background:#fff;}
.paging .cur{border:1px solid #4b4b4b; background-color:#4b4b4b; color:#fff;}
.paging a.paging-arrow{line-height:28px;}
.paging i{vertical-align:middle; color:inherit} */

.paging{width:100%; text-align:center; margin:30px 0;}
.paging a, .paging span{display:inline-block; vertical-align:middle; width:30px; height:30px;  text-align:center; font-size:18px;font-weight: bold; line-height:30px; color:#868686; letter-spacing:-0.25px; margin: 2px 10px; background:#fff;}
.paging .cur{/* border:1px solid #4b4b4b; */ background-color:#fff; color:#009223;}
.paging a.paging-arrow{line-height:28px;}
.paging i{vertical-align:middle; color:inherit}

/* 공통 :: SEARCH BOX */
.board-search-box{text-align:center; background-color:#f9f9f9; padding:30px 0; border:1px solid #ddd; }
.board-search-box select{width:20%; max-width:150px; height:40px; border:1px solid #ccc; background-color:#fff; }
.board-search-box .search-word{width:30%; max-width:200px; height:40px; border:1px solid #ccc; border-right:0; padding:0; text-indent:10px; color:#868686; font-size:13px; vertical-align:middle;}
.board-search-box .search-word:focus{color:#333;}
.board-search-box .bbs-search-btn{margin:0px; border:0; min-width:40px; padding:0 5px; height:40px; margin-left:-4px; background:#fff; color:#fff; cursor:pointer; vertical-align:top; font-size:14px;}
.board-search-box .bbs-search-btn i{line-height:40px;}


/* ****************** 봉사활동 등록 폼 ********************** */
.common-tbl-box{padding:70px 50px; background-color:#f8f8f8;}
.comm-tbl{width:100%; max-width:800px; margin:0 auto; background-color:#fff;}
.comm-tbl.login-tbl{max-width:600px;}
.comm-tbl th, .comm-tbl td{border:1px solid #ddd; padding:15px; text-align:left; font-weight:normal; line-height:20px;}
.comm-tbl tr:first-child th, .comm-tbl tr:first-child td{border-top:2px solid #009223;}
.comm-tbl th{font-size:17px; line-height:20px; font-weight:500;}
.comm-tbl input[type='text'], .comm-tbl input[type='password'], .comm-tbl input[type='file'],
.comm-tbl select, .comm-tbl textarea{padding:7px; border:1px solid #ddd; border-radius:4px; width:90%;}
.comm-tbl input[type='text'].short, .comm-tbl input[type='password'].short, .comm-tbl input[type='file'].short{width:30%;}
.comm-tbl select.middle{width:40%;}
.comm-tbl .comment{padding-top:5px; font-size:12px; color:#888;}
.comm-tbl .none{padding:40px 0; font-size:16px;}
.comm-tbl.type2{width:100%; max-width:none;}
.comm-tbl.type2 th, .comm-tbl.type2 td{padding:10px;}
.comm-tbl.type2 tr:first-child td{border-top:1px solid #ddd;}
.comm-tbl.type2 th{text-align:center; font-size:16px; border-top:2px solid rgba(254,67,30);}
.comm-tbl.type2 td{color:#2b2b2b; font-size:14px; text-align:center;}
.comm-tbl.type2 tr:hover td{background-color:rgba(254,67,30,0.05);}
/* 회원가입, 가맹점신청  :보경 */



/* 게시판용  :: 지영*/
.comm-tbl.board{width:100%; max-width:none; background-color:#f8f8f8; border-top:4px solid #009223;}
.comm-tbl.board th, .comm-tbl.board td{padding:10px; height: 69px; border-left:0; border-right: 0; font-weight: bold;}
.comm-tbl.board tr:first-child td{}
.comm-tbl.board td{color:#333; font-size:16px; text-align:center;letter-spacing: -0.04em;}
.comm-tbl.board td:first-child{color: #ffc300;font-weight: bold;}
.comm-tbl.board td:nth-child(2){text-align: left; color:#009223;}
.comm-tbl.board td:last-child{color:#bbb;}
.comm-tbl.board tr.normal{background-color: #fff; font-weight: normal;}
.comm-tbl.board tr.normal td:nth-child(2){text-align: left; color:#333;}
.comm-tbl.board tr:hover{cursor: pointer;}


/* 회원목록  :: 지영*/
.comm-tbl.type3{width:100%; max-width:none; border:0;}
.comm-tbl.type3 th, .comm-tbl.type3 td{padding:10px;border-left:0; border-right: 0;}
.comm-tbl.type3 tr:first-child th{border-top:4px solid #009223;}
.comm-tbl.type3 th{text-align:center; font-size:16px; border-bottom:1px solid #009223; color:#009223;}
.comm-tbl.type3 td{color:#2b2b2b; font-size:14px; text-align:center;}




/* 주문 */
.comm-tbl.order-tbl th{font-size:16px; background:#f8f8f8;}
.comm-tbl.order-tbl input[type='text'], .comm-tbl.order-tbl input[type='password'], .comm-tbl.order-tbl input[type='file'],
.comm-tbl.order-tbl select{height:28px; font-size:15px;}
.comm-tbl.order-tbl input[type='text'].middle, .comm-tbl.order-tbl input[type='password'].middle, 
.comm-tbl.order-tbl input[type='file'].middle, .comm-tbl.order-tbl select.middle{width:50%;}
.comm-tbl.order-tbl input[type='text'].short, .comm-tbl.order-tbl input[type='password'].middle, 
.comm-tbl.order-tbl input[type='file'].short, .comm-tbl.order-tbl select.short{width:20%;}

.necessary.join{text-align:right; margin-bottom:10px;}
.star.join{color:rgba(254,67,30); font-size:15px;}

.common-tbl-btn-group{padding-top:30px; text-align:center;}
.common-tbl-btn-group.join-btn-group{display:inline-block; text-align:right; padding-top:0; width:auto; max-width:20%; vertical-align:middle;}
.common-tbl-btn-group > button{width:130px; height:50px; border-radius:50px; font-size:17px; color:#fff; margin:0 10px;}
.common-tbl-btn-group > button.btn-style1{background-color:#009223;}
.common-tbl-btn-group > button.btn-style2{background-color:#009223;}
.common-tbl-btn-group > button.btn-style3{background-color:#888;}
.common-tbl-btn-group > button.btn-style4{background-color:#fff; color:#009223; border:1px solid #009223; vertical-align:top;}
.common-tbl-btn-group > button.small{background-color:#009223;width:100px; height:35px; font-size:15px;}
.common-tbl-btn-group > button.supersmall{width:55px; height:30px; font-size:14px;}
.comm-tbl .file-del-btn{height:30px; padding:0 10px; border-radius:5px; background-color:#888; color:#fff; margin-left:5px;}

/* 봉사활동 신청 List */
.volun-tit{max-width:385px; white-space:nowrap; text-overflow:ellipsis; overflow:hidden; text-align:left;}
.volun-tit a{color:#2b2b2b;}
.volun-tit:hover a{font-weight:500;}
.volun-status{display:inline-block; padding:7px 0; width:70px; border-radius:7px; color:#fff;}
.volun-status.ing{background-color:blue;}
.volun-status.end{background-color:#444;}

/* 봉사활동 View */
.voluntary-box{}
.comm-tbl.view{width:100%; max-width:none;}
.comm-tbl .hidden{display:none;}
.voluntary-top-box{}
.volun-view-tit, .volun-view-sub-tit{padding:0 10px;}
.volun-view-tit{font-size:24px; line-height:32px; margin-bottom:7px;}
.volun-view-sub-tit{font-size:14px; line-height:20px; font-weight:400;}
.volun-view-sub-tit > span, .volun-view-sub-tit > span b{display:inline-block; margin-right:7px; color:#888;}
.volun-view-sub-tit > span b{color:#333; font-weight:500;}
.voluntary-bottom-box{padding:30px 0;}
.voluntary-bottom-inner{padding:50px 0; background-color:#f5f5f5;}

/* 해당 공고에 봉사활동 신청한 사람 목록 */
.sub-title{font-size:20px; color:#2b2b2b; font-weight:500; padding:20px 0; margin-bottom:30px; position:relative;}
.sub-title:after{display:block; content:""; width:35px; height:3px; background:#009223; position:absolute; bottom:0; left:0;}

/* ****************** MODAL LAYERPOPUP ********************** */
/* modal layer */
.modal-fixed-pop-wrapper{display:none; overflow-y:scroll; overflow-x:hidden;  position:fixed; top:0px; left:0px; width:100%; height:100%; z-index:9999;opacity:0.1;}
.modal-fixed-pop-inner{position:absolute; display:table; width:100%; height:100%; text-align:center;}
.modal-inner-box{ position:relative; display:table-cell; vertical-align:middle;}
.modal-loading{position:absolute; top:50%; left:50%; margin:-25px 0 0 -25px; z-index:10000;}
.modal-inner-content{text-align:left;}
.loading-box{display:none; position:fixed; top:50%; left:50%;  margin:-25px 0 0 -25px; z-index:10000;}
.loading {
  display: inline-block;
  width: 50px;
  height: 50px;
  border: 8px solid rgba(255,255,255,.3);
  border-radius: 50%;
  border-top-color: #fff;
  animation: spin 1s ease-in-out infinite;
  -webkit-animation: spin 1s ease-in-out infinite;
}
@keyframes spin {
  to { -webkit-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
  to { -webkit-transform: rotate(360deg); }
}
/* modal layer content */
.modal-content{position:relative; width:96%; max-width:1000px; margin:20px auto; background-color:#fff; }
.modal-content h1{height:60px; line-height:60px; font-size:24px; font-weight:600; letter-spacing:-0.5px; text-align:center; padding:0; background-color:#f36f21; color:#fff;}
.modal-inner-con{padding:30px; }
.modal-inner{overflow-y:auto; overflow-x:hidden; border:1px solid #ddd; }

/* ****************** 마이 페이지 ********************** */
.mypage-tit{font-size:18px; line-height:24px; color:#333; font-weight:400;}
.mypage-tit > b{font-size:20px; font-weight:600;}
.mypage-box{text-align:center; padding:50px 0;}
.mypage-box > li{display:inline-block; vertical-align:top; width:320px; border:1px solid #ddd; margin:0 20px 30px 20px;}
.mypage-box > li > a{display:block; padding:15px;}
.mypage-box > li > a .img-thum{margin-bottom:20px;}
.mypage-box > li > a .img-thum > span{}
.mypage-box > li > a .img-thum > span img{max-width:130px; margin:0 auto;}
.mypage-box > li > a .txt-thum{}
.mypage-box > li > a .txt-thum h4{font-size:18px; color:#333; font-weight:500; margin-bottom:10px;}
.mypage-box > li > a .txt-thum p{font-size:13px; line-height:16px; color:#888;}
/* 마이페이지 관리자 Navi */
.admin-navi{}

/* ****************** 로그인 ********************** */
.login-inner{max-width:65%; margin:0 auto 30px;}
.login-inner .login-tbl-box{float:left; width:70%; margin-left:15%;}
.login-inner .login-tbl-box .login-tbl{max-width:none;}
.comm-tbl.login-tbl th, .comm-tbl.login-tbl td{border-left:0; border-right:0;}
.login-inner .login-btn-box{float:right; width:23%;text-align:center;}
.login-inner .login-btn-box .login-btn{display:block; width:100%; height:134px; color:#fff; font-size:20px; border-radius:5px; background-color:rgba(254,67,30);}
.login-inner .login-btn-box.type2{float:none; width:auto; padding-top:20px; text-align:center;}
.login-inner .login-btn-box.type2 .login-btn{max-width:50%; height:50px; margin:0 auto;}
.login-util-box{text-align:center;}
.login-util-box > span{display:inline-block; vertical-align:middle; margin:0 15px;}
.login-util-box > span a{display:inline-block; padding:5px; font-size:16px; line-height:20px; color:#2d2d2d;}
/* 
.login-inner .login-btn-box > button{width:100px; height:50px; border-radius:50px; font-size:17px; color:#fff; margin:0 10px;}
.login-inner .login-btn-box > button.btn-style1{background-color:#009223;}
.login-inner .login-btn-box > button.btn-style3{background-color:#888;} */

/* ****************** 이용약관 ********************** */
.terms-tit{font-size: 18px;margin-bottom: 20px;font-weight:500;}
.terms-tit > span{color : #5cc2e4; margin-right:5px;}
.terms-box{height:250px; border:1px solid rgba(254,67,30); background:#fff; padding:20px; font-size:13px; line-height:25px; overflow-y:scroll;}
.terms-chk{margin-bottom:50px; padding-top:15px; font-size:14px; line-height:18px;}
.terms-tab-list{height:50px; text-align:center; line-height:50px;}
.terms-tab-list > .t_mid{float:left; width:calc(100%/3); height:50px; background:#fff;}
.terms-tab-list > .t_mid:hover{cursor:pointer;}
.terms-tab-list > .t_mid > h2{font-size:17px; font-weight:500;}
.terms-tab-con{border:1px solid rgba(254,67,30); height:250px; overflow-y:scroll; background:#fff;}
.terms-tab-con > .c_mid{ text-align:left; line-height:25px; padding:20px;}

/* ****************** 회원가입 :: 타입 선택 ********************** */
.join-type-container{}
.join-type-container > .join-type-box{float:left; width:50%; text-align:center;}
.join-type-con{}
.join-type-con > button{}
.join-type-con > button span{display:block; width:300px; height:300px; border:4px solid #ddd; border-radius:100%; line-height:250px; transition:all 0.4s;}
.join-type-con > button img{width:200px; margin-top:50px;}
.join-type-con > button p{font-size:20px; line-height:30px; color:#2d2d2d; font-weight:500; padding-top:20px;}
.join-type-con > button:hover span{border-color:rgba(254,67,30);}

/* ****************** 에디터 만들기 용 ********************** */
.editor-container{width:100%; border:1px solid black;}
.editor-file-upload{font-size:29px;position:absolute; right:0px; top:0px; opacity:0; filter: alpha(opacity=0);-ms-filter: alpha(opacity=0);cursor:pointer;}
.editor-content{height:400px;border:1px solid #ddd;overflow: scroll;text-align: center;}
.resize-div{margin: 0 auto;width:200px;height:160px; padding: 10px; min-width : 160px;overflow: auto; cursor: pointer;display: inline-block;}
.starbox{float:left; width:30px; height:30px;}
#starpoint{width:40px;}
.like-img-box{margin-left:850px; margin-bottom:10px; width:100px; height:50px; }
.like-img{width:100%; height:100%; cursor:pointer;}
.like-inner-box{float: left; width:50%; height:100%; color:#ffce32;}
/* ****************** order VIEW CSS ****************** */
/*.img-box{margin:0 auto; width:19.5%; height:200px; float:left; border:1px solid #ffce32; cursor:pointer;}*/

/* ****************** 온라인 주문 페이지 용 ********************** */
.img-box{margin:0 0.35%; margin-bottom:10px; width:19%; height:170px; float:left; border:1px solid #ddd; cursor:pointer; overflow:hidden; border-radius:5px;}
.fix-img img{width:60%; height:60%; margin-top: 40px; margin-left:40px;}
.label{text-align: center; font-size:17px; display:none; /*line-height: 200px; color:#ffce32;*/line-height: 170px; color:#fff; font-weight:500;}
.vegi-amount{text-align: center; font-size:20px; display:none; color:white; width:70px; height:30px; float:left; background-color:#ffce32;}
.vegi p{line-height:100px;}
.button-box{width:160px;height:60px;line-height:100px; margin-left:20px;}
.bread{display: none;}
.bread-amount{text-align: center; font-size:20px; display:none; color:white; width:70px; height:30px; float:left; background-color:#ffce32;}
.bread p{line-height:100px;}
.main p, .topping p , .set p, .sidemenu p, .salad p{line-height:130px;}
.main pre, .topping pre, .set pre, .sidemenu pre, .salad pre{line-height:20px;}
.selects{border:1px solid #ffce32;}
.select-vegi{color:#009223;}
.select-bread{color:#009223;}
.quantityChange.type1{width:20px; height:20px; font-size: 20px; color:#009223; line-height:18px;}
.quantityChange.type2{width:20px; height:20px; font-size: 17px; color:#009223; line-height:20px;}
.outline-box{display: inline-block; width:150px;}
.content-outlin-box{display: inline-block; margin:0 auto; width:890px;}
.hidden-space-btn{display:none;}
.formpaginate{display:none;}
.show-order-box{padding:5px; background-color: #fff;}