<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>
	<typeAliases>
		<typeAlias type="kr.co.subway.notice.vo.Notice" alias="notice"/>
		<typeAlias type="kr.co.subway.notice.vo.PageBound" alias="pb"/>
		<typeAlias type="kr.co.subway.notice.vo.Qna" alias="qna"/>
		<typeAlias type="kr.co.subway.headOffice.vo.Apply" alias="apply"/>
		<typeAlias type="kr.co.subway.headOffice.vo.Menu" alias="menu"/>
		<typeAlias type="kr.co.subway.manager.vo.Mgr" alias="mgr"/>
		<typeAlias type="kr.co.subway.customer.vo.Customer" alias="customer"/>
		<typeAlias type="kr.co.subway.ingreManage.vo.IngreVo" alias="ingre"/>	<!-- 재료 Vo -->
		<typeAlias type="java.util.Map" alias="map"/>
		<typeAlias type="kr.co.subway.managerOrder.vo.ManagerOrderVO" alias="mOrder"/>	<!-- 발주서 Vo -->
		<typeAlias type="kr.co.subway.managerOrder.vo.ManagerItemVO" alias="item"/>	<!-- 발주 물품 Vo -->
		<typeAlias type="kr.co.subway.common.SearchVO" alias="search"/>	<!-- 검색 Vo -->
		<typeAlias type="kr.co.subway.managerOrder.vo.StockVO" alias="stock"/>	<!-- 재고 Vo -->
		<typeAlias type="kr.co.subway.stock.vo.stockViewVO" alias="stockView"/>	<!-- 재고 Vo -->
		<typeAlias type="kr.co.subway.stock.vo.HistoryVO" alias="history"/>	<!-- 재고내역 Vo -->
		<typeAlias type="kr.co.subway.notice.vo.Review" alias="review"/>
		<typeAlias type="kr.co.subway.customerOrder.vo.Bucket" alias="bucket"/> <!-- 고객 주문 관련 장바구니 -->
	</typeAliases>
</configuration>
